@import "./styles/variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}